<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736200304894-l2mab5srgc44fsvl8a261pr447vnrn4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736200304894-l2mab5srgc44fsvl8a261pr447vnrn4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBgIl8dI9DcjTV0EKO8ytHw3UtfsYZEzhM</string>
	<key>GCM_SENDER_ID</key>
	<string>736200304894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ReservationApp.app</string>
	<key>PROJECT_ID</key>
	<string>reservation-b500f</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-b500f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736200304894:ios:f05d2a9f3ae2a782045daf</string>
</dict>
</plist>